@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: darkorchid;;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #fff;
}
.container h2 {
    color: #fff;
    margin: 20px 0;
}
.content {
    display: flex;
    justify-content: center;
    gap: 8em;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    width: 250px;
    height: 370px;
    border-radius: 10px;
    transition: .3s;
  
}
.card h4 {
    align-items: center;
    margin: 0 20px;
    margin-top: -17px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: skyblue;
    border-radius: 0px 0px 30px 30px;
}
.card .pricing {
    margin-bottom: 20px;
    color: skyblue;
    font-size: 1.2em;
    font-weight: 500;
}
.card li {
    margin: 5px 50px;
    list-style: none;
    text-align: justify;
}
.card button {
    width: 50%;
    padding: 10px;
    margin: 0px 25%;
    background-color: transparent;
    border: 2px solid skyblue;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}
.card a {
    color: skyblue;
    text-decoration: none;
    transition: .3s;
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 1rem 1rem 0rem #753a93;
}
.card button:hover {
    background-color: skyblue;
    
}
.card button:hover a {
    color: white;
    
}